# Blockchain Configuration
RPC_URL= https://0xrpc.io/sep
CONTRACT_ADDRESS=0x6FB2D444784818DD62D353F284Cc2B8FffbAA96D

# Poll interval in milliseconds (default: 12000 = 12 seconds)
POLL_INTERVAL=12000
